<link rel="stylesheet" href="/css/reviewST.css" />
<div class="showbd">
  <% const review=listItem.reviews.reverse(); %> <% if (listItem.reviews.length)
  { %>
    <hr>
  <div class="showdt">
    <h3 class="revhead">All Review</h3>
    <% review.forEach((r)=> { %>
    <div class="Review">
      <p id="crus">@<%=r.author.username %></p>
      <p class="starability-result" data-rating="<%=r.rating %>"></p>
      <p class="rect"><%=r.comment %></p>
      <% if (currUser && currUser._id.equals(r.author._id)) { %>
      <form
        action="/listings/<%=listItem._id%>/review/<%=r._id%>?_method=DELETE"
        method="post"
      >
        <button class="showdlb">Delete</button>
      </form>
      <%}%>
    </div>
    <% }); %> <% } %>
  </div>
</div>
